﻿<div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="heading-multiple-thumbnails">Profil Bilgileri ve İstatistikleriniz</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
        </div>
        <div class="card-content">
            <div class="card-body">
                <p>Kullanıcı Dashboard panelinde bulunmaktasınız. Aşağıda istatistik bilgileri yer almaktadır..</p>
                <h4 class="card-title">........</h4>
                <h6>Aktif Randevu Sayınız: 4</h6>
                <h6>Geçmiş Randevu Sayınız: 12</h6>
                <h6>Onay Bekleyen Randevu Sayınız: 1</h6>
                <h6>Toplam Klinik Sayısı: 16</h6>
                <h6>Doktor Sayımız: 6</h6>
                <h6>Toplam Misafir Sayımız: 1286</h6>
                <h6>Ortalama Puanımız: 8.97/10</h6>
            </div>
        </div>
    </div>
</div>